name: _ci
on:
  workflow_call:
    inputs:
      release_tag:
        description: 'The release tag (e.g. v1.0.0)'
        required: false
        type: string
        default: ''

env:
  CARGO_TERM_COLOR: always

jobs:
#  vet:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v5
#    - name: Install cargo-vet
#      run: cargo install cargo-vet
#    - name: Verify Dependencies
#      run: cargo vet

  deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install cargo-deny
      run: cargo install cargo-deny
    - name: Check Licenses
      run: cargo deny check licenses

  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            artifact_name: disk-hog-backup-linux-x86_64
            binary_name: disk-hog-backup
#          - os: windows-latest
#            target: x86_64-pc-windows-msvc
#            artifact_name: disk-hog-backup-windows-x86_64
#            binary_name: disk-hog-backup.exe
#          - os: macos-latest
#            target: x86_64-apple-darwin
#            artifact_name: disk-hog-backup-macos-x86_64
#            binary_name: disk-hog-backup
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Install musl tools
      if: matrix.target == 'x86_64-unknown-linux-musl'
      run: |
        sudo apt-get update
        sudo apt-get install -y musl-tools
    - name: Add Target
      run: rustup target add ${{ matrix.target }}
    - name: Update Version (Linux/Windows)
      if: inputs.release_tag != '' && matrix.os != 'macos-latest'
      shell: bash
      run: |
        VERSION="${{ inputs.release_tag }}"
        # Strip the 'v' prefix if present
        VERSION="${VERSION#v}"
        sed -i "s/0\\.0\\.0-git/$VERSION/" Cargo.toml
        sed -i "s/0\\.0\\.0-git/$VERSION/" Cargo.lock
    - name: Build
      run: cargo build --target ${{ matrix.target }} --release
    - name: Test
      run: cargo test --verbose --release
    - name: Package Binary
      shell: bash
      run: |
        if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
          7z a ${{ matrix.artifact_name }}.zip "target/${{ matrix.target }}/release/${{ matrix.binary_name }}"
        else
          tar -czvf ${{ matrix.artifact_name }}.tar.gz -C "target/${{ matrix.target }}/release" "${{ matrix.binary_name }}"
        fi
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.artifact_name }}
        path: ${{ matrix.artifact_name }}.*
        retention-days: 1
