name: _release
on:
  workflow_call:
    inputs:
      release_tag:
        description: 'The release tag (e.g. v1.0.0)'
        required: true
        type: string

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Generate Release Notes
      id: changelog
      uses: orhun/git-cliff-action@v4
      with:
        config: .github/cliff.toml
        args: --latest --strip header

    - name: Download Linux Build
      uses: actions/download-artifact@v7
      with:
        name: disk-hog-backup-linux-x86_64

#    - name: Download Windows Build
#      uses: actions/download-artifact@v7
#      with:
#        name: disk-hog-backup-windows-x86_64
#
#    - name: Download macOS Build
#      uses: actions/download-artifact@v7
#      with:
#        name: disk-hog-backup-macos-x86_64

    - name: Generate SHA256 Checksums
      run: |
        sha256sum disk-hog-backup-linux-x86_64.tar.gz > SHA256SUMS.txt
#        sha256sum disk-hog-backup-linux-x86_64.tar.gz disk-hog-backup-windows-x86_64.zip disk-hog-backup-macos-x86_64.tar.gz > SHA256SUMS.txt

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        body: ${{ steps.changelog.outputs.content }}
        files: |
          disk-hog-backup-linux-x86_64.tar.gz
          SHA256SUMS.txt
#          disk-hog-backup-windows-x86_64.zip
#          disk-hog-backup-macos-x86_64.tar.gz
